<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/bootstrap-theme.css"/>
	<link rel="stylesheet" href="css/application.css"/>
	<style>
		#div1 {
			background-color: #2e6da4;
			min-height: 75px;
			padding: 15px;

		}
	</style>

	<script type="text/javascript" src="js/jquery-2.2.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
</head>
<body class="container">

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Todo List<span class="sr-only">(current)</span></a></li>
				<li class="active"><a href="/about">About</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<h1>About this application</h1>


<div class="row">
	<div class="col-sm-12">
		<div>This is just a sample app for demoing Geb (and using Ratpack).</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h3>Sample data</h3>
		<p id="sample" class="class-a class-b" title="Sample p element">Sample text</p>
	</div>
</div>

</body>
</html>